* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: lightskyblue;;
    padding: 10px;
}

#menubar {
    background: lightskyblue;
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 125px;
    right: 0; 
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

nav a:hover {
    color: goldenrod;
    text-decoration: underline;
}

nav li {
    display: inline;
    margin: 15px;
}

main {
    width: 940px;
    margin: 0 auto;
}

main h3 {
    margin-top: 60px;
    margin-bottom: 40px;
    text-transform: uppercase;
    font-size: 21px;
}

#faleconosco p {
    font-size: 20px;
    margin: 15px 0;

}

#formulario {
    margin-top:90px;
}

form {
    margin: 40px 0; 
}

form label, form p {
    display: block;
    font-size: 22px;
    margin-bottom: 0 0 15px;
}

.input-padrao {
    display: block;
    margin-bottom: 30px;
    padding: 10px;
    width: 40%;
}

select {
    margin: 10px 0 20px;
    font-size: 16px;
}

.radiobox {
    margin: 8px 0;
}

#enviar {
    width: 38%;
    background: lightskyblue;
    font-size: 13px;
    font-weight: bolder;
    text-transform: uppercase;
    margin: 30px 0 80px;
    border: solid 0.5px;
    border-radius: 10px;
    transition: 600ms all;
    cursor: pointer;
}

#enviar:hover {
    background: goldenrod;
    transform: scale(1.05);
}

footer {
    background: lightskyblue;
    text-align: center;
    padding: 20px;
}

footer img {
    width: 150px;
    margin: -25px 0;
}

footer h3 {
    margin-top: -14px;
    margin-bottom: 25px;
    font-weight: lighter;
    font-size: 12px;
    opacity: 0.8;
}