* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: lightskyblue;;
    padding: 10px;
}

#menubar {
    background: lightskyblue;
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 125px;
    right: 0; 
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

nav a:hover {
    color: goldenrod;
    text-decoration: underline;
}

nav li {
    display: inline;
    margin: 15px;
}

main {
    width: 940px;
    margin: 0 auto;
}

main h3 {
    margin-top: 60px;
    margin-bottom: 40px;
    text-transform: uppercase;
    font-size: 22px;
}

main p {
    font-size: 20px;
    margin: 20px;

}

#formulario {
    margin-top:110px;
}

form {
    margin: 40px 20px;
}

form p {
    margin: 50px 0 5px;
}

form label {
    display: block;
    font-size: 22px;
    margin-bottom: 15px;
}

form input {
    display: block;
    margin-bottom: 30px;
    padding: 10px;
    width: 40%;
}

form textarea {
    width: 40%;
    padding: 10px;
    margin-bottom: 30px;
}

select {
    margin: 5px 0 20px;
}

#enviar {
    background: lightskyblue;
    font-size: 13px;
    font-weight: bolder;
    text-transform: uppercase;
}

#enviar:hover {
    background: goldenrod;
}

footer {
    background: lightskyblue;
    text-align: center;
    padding: 20px;
}

footer img {
    width: 150px;
    margin: -25px 0;
}

footer h3 {
    margin-top: -14px;
    margin-bottom: 25px;
    font-weight: lighter;
    font-size: 12px;
    opacity: 0.8;
}