* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

header {
    background: lightskyblue;
    padding: 10px;
}

#menubar {
    background: lightskyblue;
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 125px;
    right: 0; 
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

nav a:hover {
    color: goldenrod;
    text-decoration: underline;
}

nav li {
    display: inline;
    margin: 15px;
}

footer {
    background: lightskyblue;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

footer img {
    width: 150px;
    margin: -25px 0;
}

footer h3 {
    margin-top: -14px;
    margin-bottom: 25px;
    font-weight: lighter;
    font-size: 12px;
    opacity: 0.8;
}