#vegas-entrada {
    margin: 0;
    width: 100%;
    height: 650px;
}

.principal {
    margin-top: 20px;
    padding: 35px 150px;
    text-align: center;
}

.atracoes li {
    display: inline-block;
    margin: 20px 40px;
    width: 25%;
}

.atracoes h3 {
    margin-bottom: 15px;
    font-style: italic;
    color: darkgoldenrod;
}

.foto-atracao {
    width: 260px;
    height: 160px;
}

main h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 23px;
    border-top: solid 2px;
    border-bottom: solid 2px;
    margin-bottom: 20px;
    padding: 8px;
}

main p {
    font-size: 20px;
    text-align: center;
}

strong {
    color: darkgoldenrod;
}