#caixa {
    margin-left:13%;
}

.tipo-quartos {
    display: inline-block;
    vertical-align: top;
    margin: 60px 1.8% 100px;
    padding: 25px;
    border: 2px solid;
    border-radius: 6%;
    text-align: center;
}

.tipo-quartos:hover {
    border: 4px solid darkgoldenrod;
}

.tipo-quartos:active {
    border: 4px solid green;
}

.tipo-quartos:hover h2 {
    font-size: 24px;
}

.tipo-quartos h2 {
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.icones {
    width: 120px;
    margin-bottom: 50px;
}

.descricao-quartos {
    font-size: 18px;
    font-style: italic;
}

.preco-quartos {
    margin-top: 20px;
    font-size: 26px;
    font-weight: bold;
}

